# .env

# ==========================
# NordVPN Configuration
# ==========================

NORD_TOKEN=enter_your_token_here
VPN_COUNTRY=Germany

# ==========================
# LAN Network Configuration
# ==========================

LAN_IP=192.168.254.254
LAN_SUBNET=192.168.254.0/24
LAN_INTERFACE=ens224

# ==========================
# WAN Network Configuration
# ==========================

WAN_IP=10.10.10.254
WAN_SUBNET=10.10.10.0/24